body {
  @each $name, $map in $colors {
    @each $scale, $color in $map {
      @if $scale != '' {
        --tk-#{$name}-#{$scale}: #{$color};
      } @else {
        --tk-#{$name}: #{$color};
      }
    }
  }
}
