$avatar-sizes: ("xsmall": 16px, "small": 24px, "medium": 32px, "large": 40px, "xlarge": 80px, "xxlarge": 160px);

.tk-avatar {
  width: map-get($avatar-sizes, "medium");
  height: map-get($avatar-sizes, "medium");
  display: flex;
  position: relative;
  border-radius: 50%; // Default rounded avatar
  align-items: center;
  justify-content: center;
  user-select: none;

  @each $size,
  $size-value in $avatar-sizes {
    &--#{$size} {
      width: $size-value;
      height: $size-value;
      font-size: $size-value/2;

      &[class*="--border"] {
        border-style: solid;
        border-color: $--tk-avatar-border-color;
        border-width: medium;

        @if($size-value < map-get($avatar-sizes, "medium")) {
          border-width: thin;
        }

        @else if($size-value > map-get($avatar-sizes, "large")) {
          border-width: thick;
        }
      }
    }
  }

  .tk-badge {
    :not(.tk-icon) {
      width: 50%;
      height: 50%;
    }
    overflow: hidden;
    position: absolute;
    z-index: 2;
    align-items: center;
    justify-content: center;
    user-select: none;

    &--bottom {
      right: 13.64%;
      bottom: 13.64%;
      transform: translate(50%, 50%);
    }

    &--top {
      right: 14.64%;
      top: 14.64%;
      transform: translate(50%, -50%);
    }
  }

  &--square {
    border-radius: 4px;
    &[class*="--border"]img.tk-avatar {
      border-radius: 0;
    }

    .tk-badge--bottom {
      right: 0;
      bottom: 10%;
    }

    .tk-badge--top {
      top: 0;
      right: 2%;
    }
  }

  &--rounded {
    border-radius: 50%;
  }

  img.tk-avatar,
  img.tk-badge {
    border-radius: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: $z-index-avatar;
  }

  img.tk-badge {
    z-index: $z-index-badge;
  }
}