.tk-dropdown-menu {
  @extend .tk-select--custom-dropdown;
  max-height: 515px;
  z-index: $z-index-dropdown-menu;

  &__icon {
    position: absolute;
    left: 16px;
    color: $--tk-select-selected-color;
    font-size: 16px;
  }

  &__item {
    position: relative;
    color: $--tk-main-text-color;
    display: block;
    cursor: pointer;
    @extend .tk-py-1;
    @extend .tk-pl-2;
    @extend .tk-pr-4h;

    &:hover {
      background-color: $--tk-select-hover-color;
    }

    &--icon {
      @extend .tk-pl-5;   
    }
  }

  &--selected::before {
    position: absolute;
    right: 16px;
    font-style: normal;
    font-family: 'tk-icons';
    color: $--tk-select-selected-color;
    font-size: 16px;
    @include tk-icon-check;
  }

  &--expandable::before {
    position: absolute;
    right: 16px;
    font-style: normal;
    font-family: 'tk-icons';
    color: $scolor-electricity;
    font-size: 16px;
    @include tk-icon-right;
  }
}

.tk-dropdown-divider {
  height: 0;
  margin: .4em 0;
  overflow: hidden;
  border-top: 1px solid $--tk-dropdown-divider-color;
}
