.tk-text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-orient: vertical;

    &__multiple-rows {
        display: -webkit-inline-box;
        white-space: normal;
    }
}